In [6]:
# !pip install bs4
# !pip install lxml
# !pip install html5lib

Collecting html5lib
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: six>=1.9 in c:\programdata\miniconda3\envs\hoseo\lib\site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in c:\programdata\miniconda3\envs\hoseo\lib\site-packages (from html5lib) (0.5.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
html_doc = """<html><head><title>The Dormouse's story</title></head> 
<body>
<p class="title"><b>The Dormouse's story</b></p> 
<p class="story">Once upon a time there were three little sisters; and
their names were 
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a>
and 
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>; and they lived at the bottom of a well.</p>
<p class="story">...</p>"""

In [ ]:
soup = BeautifulSoup(html_doc, "html.parser") # 기본 파서

In [ ]:
soup.prettify() # 원본 HTML을 표시

In [ ]:
soup.title
soup.title.name # title 객체의 name
soup.title.text
soup.title.string
soup.p
soup.p['class']
soup.a
soup.a.attrs # 리스트로 속성 모으기

In [ ]:
soup.find_all('a') # 모든 a 찾아줌~~~~~~~~
# soup.find('a') # 첫번째 요소만
links = soup.find_all('a')
for link in links:
    print(link.attrs['href'])

In [ ]:
soup.get_text()

In [70]:
from selenium import webdriver

In [72]:
driver = webdriver.Chrome(r'C:\YJ\workspace\chromedriver.exe')

In [77]:
browser.get('https://datalab.naver.com/keyword/realtimeList.naver?entertainment=2&groupingLevel=4&marketing=2&news=2&sports=2&where=main')

In [55]:
import time # interval 주기 위해 (중간 중간 쉬어야 다른 사람걸로 하지 않음)
import requests # urllib(내장 패키지)와 비슷
from bs4 import BeautifulSoup

In [78]:
# resp.text[:500]
soup = BeautifulSoup(browser.page_source, 'html.parser')

In [79]:
ranks=soup.select('div.ranking_box ul li span.item_num')
keywords = soup.select('div.ranking_box ul li span.item_title')

In [86]:
ranks[2].text
# keywords

'3'

In [88]:
for rank, keyword in zip(ranks, keywords):
    print("[{0}].[{1}]".format(rank.text, keyword.text))

[1].[아토오겔]
[2].[로스트아크]
[3].[편의점 비말마스크]
[4].[경기도 청소년 교통비 지원]
[5].[우아한 거짓말]
[6].[광주광역시청]
[7].[평택 고덕 호반써밋2차]
[8].[강경헌]
[9].[아리따움 색다른 초대전]
[10].[윤기원]
[11].[아이비 아하]
[12].[라이프치히]
[13].[이순재]
[14].[이인영]
[15].[송지아]
[16].[임종석]
[17].[미스터 기간제]
[18].[도리화가]
[19].[폴더버거]
[20].[캐시슬라이드초성퀴즈]

In [89]:
browser.quit()

In [90]:
# https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917
# 위 주소에서 917회차 당첨번호(보너스 포함)를 추출해서 리스트에 저장하세요
# requests 모듈과 Beautifulsoup 모듈을 사용하세요

In [7]:
from bs4 import BeautifulSoup
from selenium import webdriver

In [10]:
driver = webdriver.Chrome(r'C:\YJ\workspace\chromedriver.exe')

In [12]:
browser = driver.get('https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917')

In [2]:
import time
import requests

In [1]:
import pandas as pd
import numpy as np

In [14]:
soup=BeautifulSoup(driver.page_source, 'html.parser')

In [36]:
lucky_num = soup.select('div.win_result p span.ball_645 ')

In [43]:
nums = {}
for lucky_num in nums:
    lucky_num += lucky_num 
    lucky_num[0].text

In [45]:
print(lucky_num[0].text)

1

In [19]:
for lucky_num in nums:
    lucky_num

In [58]:
# 선생님
resp = \
requests.get('https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917')

soup = BeautifulSoup(resp.text, "html.parser")

num_wins = soup.select('div.nums .num.win span') # num win인경우 .num.win으로 해야함, span 데이터 읽어오기
num_bonus = soup.select('div.nums .num.bonus span')

winning_numbers = [] # 배열이므로 리스트 만들기
for num_win in num_wins:
     winning_numbers.append(int(num_win.text))
     winning_numbers.append(int(num_bonus[0].text))

winning_numbers

[1, 34, 3, 34, 23, 34, 24, 34, 27, 34, 43, 34]

In [59]:
# https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo=917
# 위 주소에서 1회 ~ 917회차 당첨번호(보너스 포함)를 추출해서 데이터프레임에 저장하세요
# 데이터 프레임의 행 : 회차번호 / 열 : 순서번호
# requests 모듈과 Beautifulsoup 모듈을 사용하세요

In [60]:
# 선생님
url = 'https://dhlottery.co.kr/gameResult.do?method=byWin&drwNo={0}'
all_winning_numbers = {}
# for rnd in range(1, 917 + 1): # 15분 걸리므로 20개만
for rnd in range(1, 20 + 1):
    resp = requests.get(url.format(rnd))
    soup = BeautifulSoup(resp.text, "html.parser")

    num_wins = soup.select('div.nums .num.win span')
    num_bonus = soup.select('div.nums .num.bonus span')

    winning_numbers = []
    for num_win in num_wins:
        winning_numbers.append(int(num_win.text))
    winning_numbers.append(int(num_bonus[0].text))

    all_winning_numbers[rnd] = winning_numbers

    time.sleep(0.5) # 0.5초

In [61]:
all_winning_numbers

{1: [10, 23, 29, 33, 37, 40, 16],
 2: [9, 13, 21, 25, 32, 42, 2],
 3: [11, 16, 19, 21, 27, 31, 30],
 4: [14, 27, 30, 31, 40, 42, 2],
 5: [16, 24, 29, 40, 41, 42, 3],
 6: [14, 15, 26, 27, 40, 42, 34],
 7: [2, 9, 16, 25, 26, 40, 42],
 8: [8, 19, 25, 34, 37, 39, 9],
 9: [2, 4, 16, 17, 36, 39, 14],
 10: [9, 25, 30, 33, 41, 44, 6],
 11: [1, 7, 36, 37, 41, 42, 14],
 12: [2, 11, 21, 25, 39, 45, 44],
 13: [22, 23, 25, 37, 38, 42, 26],
 14: [2, 6, 12, 31, 33, 40, 15],
 15: [3, 4, 16, 30, 31, 37, 13],
 16: [6, 7, 24, 37, 38, 40, 33],
 17: [3, 4, 9, 17, 32, 37, 1],
 18: [3, 12, 13, 19, 32, 35, 29],
 19: [6, 30, 38, 39, 40, 43, 26],
 20: [10, 14, 18, 20, 23, 30, 41]}

In [63]:
pd.DataFrame(all_winning_numbers)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,10,9,11,14,16,14,2,8,2,9,1,2,22,2,3,6,3,3,6,10
1,23,13,16,27,24,15,9,19,4,25,7,11,23,6,4,7,4,12,30,14
2,29,21,19,30,29,26,16,25,16,30,36,21,25,12,16,24,9,13,38,18
3,33,25,21,31,40,27,25,34,17,33,37,25,37,31,30,37,17,19,39,20
4,37,32,27,40,41,40,26,37,36,41,41,39,38,33,31,38,32,32,40,23
5,40,42,31,42,42,42,40,39,39,44,42,45,42,40,37,40,37,35,43,30
6,16,2,30,2,3,34,42,9,14,6,14,44,26,15,13,33,1,29,26,41

In [66]:
all_winning_numbers_df = \
    pd.DataFrame(all_winning_numbers.values(), # values는 열 이름과 행 이름이 안맞을까바
                 columns=['num1', 'num2', 'num3', 
                        'num4', 'num5', 'num6', 'bonus'], index=[str(rndx) + '회차' for rndx in all_winning_numbers.keys()]) # 열에 이름 주려면 [str(rndx) + '회차' for rndx in all_winning_numbers.keys()]를 넣는다
# all_winning_numbers_df.T
all_winning_numbers_df

      num1  num2  num3  num4  num5  num6  bonus
1회차     10    23    29    33    37    40     16
2회차      9    13    21    25    32    42      2
3회차     11    16    19    21    27    31     30
4회차     14    27    30    31    40    42      2
5회차     16    24    29    40    41    42      3
6회차     14    15    26    27    40    42     34
7회차      2     9    16    25    26    40     42
8회차      8    19    25    34    37    39      9
9회차      2     4    16    17    36    39     14
10회차     9    25    30    33    41    44      6
11회차     1     7    36    37    41    42     14
12회차     2    11    21    25    39    45     44
13회차    22    23    25    37    38    42     26
14회차     2     6    12    31    33    40     15
15회차     3     4    16    30    31    37     13
16회차     6     7    24    37    38    40     33
17회차     3     4     9    17    32    37      1
18회차     3    12    13    19    32    35     29
19회차     6    30    38    39    40    43     26
20회차    10    14    18    20    23    30     41