In [ ]:
# 네이버 영화 사이트에서 특정 일자의 영화 평점 순위 크롤링 해서 데이터프레임에 저장
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import requests
from bs4 import BeautifulSoup, NavigableString, Tag, Comment

In [26]:
url = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn"
query = "sel={0}&date={1}"

page= 1
date = '20200701'
movie_scores = []

resp = requests.get()
soup = BeautifulSoup()

movie_list = soup.select("#cbody > .list_ranking > tbody")
print(movie_list)

SyntaxError: invalid syntax (<ipython-input-26-590a1265ac48>, line 8)

In [22]:
import time
import requests
from bs4 import BeautifulSoup

In [23]:
# 선생님
url = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=cur&date={0}"# 날짜만 변수화

date = "20200630"
resp = requests.get(url.format(date))

soup = BeautifulSoup(resp.text, 'html.parser')

In [24]:
# resp.status_code : 200이면 정상

In [25]:
trs = soup.select('table.list_ranking tbody tr')

movies = []
for tr in trs[1:]:
    tds = tr.select('td')
    if len(tds) > 1:
        rank = int(tds[0].select_one('img')['alt'].lstrip('0')) #lstrip - 왼쪽에서 0지워라, strip 왼쪽오른쪽 다 지워라
        title = tds[1].select_one('a').text.strip()
        score = float(tds[3].text.strip())
        if len(tds) == 7:
            direction = tds[5].select_one('img')['alt']
            sign = -1 if direction == 'down' else 1
            delta = int(tds[6].text.strip()) * signs

        elif len(tds) == 6:
            delta = 0 # 51 - rank여도 괜찮
        movies.append([rank, title, score, delta])

# movies
columns=['순위', '영화명', '평점', '변동폭']
movies_df = pd.DataFrame(movies, columns=columns)
movies_df

    순위            영화명    평점  변동폭
0    1         위대한 쇼맨  9.40    0
1    2         에이리언 2  9.34    0
2    3    패왕별희 디 오리지널  9.31    0
3    4            우리들  9.26    0
4    5            톰보이  9.24    0
5    6         러빙 빈센트  9.22    0
6    7          어느 가족  9.20    0
7    8     시간을 달리는 소녀  9.20    0
8    9           오아시스  9.20    0
9   10        스타 이즈 본  9.18    0
10  11           에이리언  9.12    0
11  12           늑대아이  9.11    1
12  13            싸이코  9.11    0
13  14           박하사탕  9.05    0
14  15    타오르는 여인의 초상  9.04    0
15  16        미스비헤이비어  9.04    0
16  17         비긴 어게인  9.02    0
17  18         인생 후르츠  9.02    0
18  19            미져리  9.01    0
19  20            변호인  8.99    0
20  21        배트맨 비긴즈  8.95    1
21  22           윤희에게  8.95    1
22  23       기쿠지로의 여름  8.94    0
23  24              시  8.93    0
24  25  마담 프루스트의 비밀정원  8.92    0
25  26      트롤: 월드 투어  8.87    0
26  27           드라큐라  8.86    0
27  28       콜 오브 와일드  8.85    0
28  29      슬럼독 밀리어네어  8.83    0
29  30  온워드: 단 하루의 기적  8.82    0
30  31        리틀 포레스트  8.80    0
31  32             벌새  8.76    0
32  33            도그빌  8.76    0
33  34            현기증  8.73    0
34  35        아메리칸 셰프  8.73    0
35  36      바닷마을 다이어리  8.72    0
36  37          썸머 워즈  8.67    0
37  38      플로리다 프로젝트  8.63    0
38  39        걸어도 걸어도  8.62    0
39  40           라라랜드  8.60    0
40  41       태풍이 지나가고  8.60    0
41  42            플라이  8.60    0
42  43     찬실이는 복도 많지  8.58    0
43  44            족구왕  8.54    0
44  45             캐리  8.46    0
45  46       로렌스 애니웨이  8.42    1
46  47          에어로너츠  8.39    1
47  48     영웅: 천하의 시작  8.38    1
48  49   그랜드 부다페스트 호텔  8.37    1
49  50            스크림  8.36    1